<div class="inner">
  <div class="buttons">
    <button class="update btn action-primary">
      <span class="update-inner">{{t 'app.updateframework'}}</span>
    </button>
    <button class="purge btn alert">
      <span class="purge-inner">{{t 'app.purgeframework'}}</span>
    </button>
  </div>
</div>
