<div class="inner">
  <div class="input-group">
    <h1>Framework admin</h1>
    <p>
      Admin functions for the installed Adapt framework.<br/><br/>
      <strong>Update</strong>: attempts to install the latest version of the framework<br/>
      <strong>Purge</strong>: removes and reinstalls the framework<br/><br/>
    </p>
    <button class="update btn action-primary">
      <span class="update-inner">{{t 'app.updateframework'}}</span>
    </button>
    <button class="purge btn alert">
      <span class="purge-inner">{{t 'app.purgeframework'}}</span>
    </button>
    <button class="cache btn action-secondary">
      <span class="purge-inner">{{t 'app.clearframeworkcache'}}</span>
    </button>
  </div>
  <div class="input-group">
    <h1>Install plugin</h1>
    <p>Install a plugin using the adapt-cli tool.</p>
    <input id="name" name="name" type="text" placeholder="name"/>
    @
    <input id="version" name="version" type="text" placeholder="version"/>
    <label for="force">Overwrite existing</label>
    <input id="force" name="force" type="checkbox" />
    <button type="button" class="install btn primary">Install</button>
  </div>
</div>
